<!DOCTYPE html>
<html>
<head>
    <title>Ribbonson</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap/css/bootstrap.css')}}">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{{url_for('static',filename='load_article.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap/js/bootstrap.js')}}"></script>
</head>
<body>

<div class="container-fluid">
    <div class="navbar">
        <h1 class="logo">
            Mr. Ribbonson
            <small>Keep Calm And Read RSS</small>
        </h1>
    </div>

    <div class="row">

        <div class="col-lg-3">
            <div class="panel affix">
                <div class="panel-heading">Feeds</div>
                    <ul class="list-group list-group-flush">
                        {% for item in feeds %}
                            <a href="#" class="feed list-group-item" data-id="{{ item.id }}" 
                            data-count="{{ item.count }}"> {{ item.title }} <span class="badge"> {{ item.count }}</span>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    <div class="col-lg-8">
            <div class="article"></div>
    </div>
        </div>
        

</div>


</body>
</html>