<!DOCTYPE html>
<html>
<head>
    <title>Ribbonson</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.css')}}">
<!--     <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='flat-ui.css')}}"> -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{{url_for('static',filename='load_article.js')}}"></script>
</head>
<body>
<div class="container-fluid">
    <h1 class="logo">
        Mr. Ribbonson
        <small>Keep Calm And Read RSS</small>
    </h1>

    <div class="row-fluid">
        <div class="span3">
                    {% for item in feeds %}
                        <li class="feed" data-id="{{ item.id }}" data-count="{{ item.count }}">
                            <a> {{ item.title }} </a><span class="badge badge-success pull-right"> {{ item.count }}</span>
                        </li>
                    {% endfor %}
        </div>

        <div class="span9" style="overflow: auto">
            <p class="palette-paragraph">
                <div class="article"></div>
            </p>
        </div>
    </div>
</div>
</body>
</html>